{% extends "layout.html" %}

{% block content %}
  <h3>Add a Page</h3>
  <hr>
  <form method="POST" action="/wiki/add">
    
    <div class="form-group">
        <label for="Name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
          <input name="name" type="text" class="form-control"/>
        </div>
    </div>
    
    <div class="form-group">
        <label for="Email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <input name="email" type="text" class="form-control"/>
        </div>
      </div>
    
    <div class="form-group">
      <label for="title" class="col-sm-2 control-label">title</label>
      <div class="col-sm-10">
        <input name="title" type="text" class="form-control"/>
      </div>
    </div>
    
    <div class="form-group">
        <label for="content" class="col-sm-2 control-label">content</label>
        <div class="col-sm-10">  
            <textarea  name="content"  rows="4" cols="101"> </textarea>>
          </div>
      </div>
    
      <div class="form-group">
          <label for="Status" class="col-sm-2 control-label">Status</label>
          <div class="col-sm-10">  
              <select multiple>
                  <option value="Open">Open</option>
                  <option value="Closed">Closed</option>
                </select>
            </div>
        </div>

    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">submit</button>
    </div>
  
  </form>
{% endblock %}


<textarea rows="4" cols="110"> </textarea>>